
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
nav {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: right;
}
nav .logo {
    color: #f18930;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    align-items: right;
}
nav ul li a:hover {
    color: #f18930;
}
#team {
    text-align: center;
    padding: 20px;
}
.team-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.team-member {
    text-align: center;
    margin: 10px;
}
.team-member img {
    width: 150px; 
    height: 150px;
    border-radius: 50%; 
    object-fit: cover; 
}
p {
    font-size: 20px;
    margin: 10px 0;
    color: #555;
}
h2 {
    font-size: 25px;
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}
